<header class="d-lg-block d-none">
  <div class="container">
    <div class="d-flex justify-content-center gap-4 align-items-center">
      <ul class="d-flex gap-3">
        <li *ngFor="let item of headerData | slice : 0 : 3">
          <a [routerLink]="item.url" class="position-relative px-3 py-2">
            {{ item.name | uppercase }}
          </a>
        </li>
      </ul>
      <div class="mx-4">
        <img src="assets/images/main-logo.png" alt="" />
      </div>
      <ul class="d-flex gap-3">
        <li *ngFor="let item of headerData | slice : 3">
          <a [routerLink]="item.url" class="position-relative px-2 py-2">
            {{ item.name | uppercase }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="header-back"></div>
