<section>
  <div class="container py-5">
    <h1 class="section-name">CONTACT US</h1>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div>
          <div
            *ngFor="let info of contactInfo"
            class="d-flex gap-3 align-items-center mb-3"
          >
            <i [class]="info.icon"></i>
            <p class="mb-0">{{ info.desc }}</p>
          </div>
        </div>
        <div class="d-flex gap-3">
          <div class="social-icon" *ngFor="let social of socialIcons">
            <i [class]="social"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="row">
            <div class="mb-3 col-lg-6">
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Name"
              />
            </div>
            <div class="mb-3 col-lg-6">
              <input
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Email"
              />
            </div>
            <div class="mb-3 col-lg-12">
              <textarea
                class="form-control"
                placeholder="Any Message"
              ></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>

<iframe
  class="w-100"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.6997233854604!2d72.84128787466312!3d18.988864254703376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce563c1bffff%3A0x56bbd7b49481237b!2sKrusty%20Cone!5e0!3m2!1sen!2sin!4v1723297917898!5m2!1sen!2sin"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
